body {
    margin: 20px;
    padding: 0;
    background: #6589F9;
}


.grid {
    display: grid;
    grid-template-areas:
        'image image image'
        'image image image';
    justify-content: center;
    grid-gap: 20px;

}

.image {
    background-size: 200px 150px;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background-repeat: no-repeat;
    z-index: 1;
    cursor: pointer;
}

.hidden {
    background-image: none !important;
    background-color: black;
}

.selected {
    border: .01px solid white;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.score {
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.button-div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#button {
    padding: 10px;
    font-size: 30px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;

}